#searchForm{
  display: absolute;
  width: 100%;
  margin-top: 70px;
  margin-left: 200px;

  .form-row {
  .col {
margin: 0;
padding: 0;
}
  input {
border: 1px solid #DBDBDB;
border-radius: 0;
margin: 0;
border-right: 0px;
width: 750px;
}
  }
}