.planet-singleCard {
  width: 50rem;
  height: 80%;
  color: white;
  background-color: black;
  text-align: center;
  border-style: solid;
  display: absolute;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 150px;
   img {
    height: 20rem;
    width: 20rem;
  }
}